

.frosted-glass {
    position: relative;
    background: inherit;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin: 2em;
    margin-left: 5vw;
    box-shadow: 0 0 2em rgb(0,0,0,0.7);
    border-radius: 2em;
    
}

.frosted-glass::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    box-shadow: inset 0 0 188em rgba(255, 255, 255, .5);
    filter: blur(10px);
    margin: -20px;
}

/*****************************bg animation**************/


@keyframes animate-background {
	from { background-position: 0px 0px; } 
	to { background-position: 7072vh 0px; }
}

/****************************************************/
